body {
  background-color: #fbfbfb;
}

h1, h2, h3, h4, p, a, li{ 
  font-family: 'montserrat', 'Roboto', sans-serif !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,1);
}

nav.navbar.second-navbar {
  margin-top: 80px;
}

@media (min-width: 991.98px) {
  header.with-sidebar .second-navbar,
  main.main-layout {
    padding-left: 240px;
  }
}


.main-layout {
  padding: 0.5rem 1rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar {
  box-shadow: none !important; 
}

.second-navbar li a{ 
  font-size: 26px;
  font-weight: bold;
}

.second-navbar .container-fluid:before {
  content: "";
  border-bottom: 1px solid #0000001c;
  width: 97.9%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: 1px;
  right: 0;
}

.second-navbar .container-fluid {
  position: relative;
}

.second-navbar a.nav-link.active {
  color: #427CD8 !important;
  border-bottom: 3px solid #427CD8 !important;
}

nav#main-navbar {
  border-bottom: 1px solid #00000014;
}

.second-navbar .nav-item {
  padding-right: 10px;
  padding-left: 10px;
}

.second-navbar .nav-item .nav-link{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.card{
  border-radius: 12px;
  border: 1px solid #DDDDDD;
}

.card .card-header{ 
  font-size: 14px;
  font-weight: 700;
}

.card ul li{
  font-size: 14px;
  font-weight: 400;
}

.televisit-table.table thead tr th {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #333333;
}
.televisit-table.table thead{
  background: rgba(66, 124, 216, 0.03);
}
.televisit-table.table thead tr th {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #333333;
}

.televisit-table.table tbody td{ 
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.card-table .card-body {
  padding-left: 0;
  padding-right: 0;
}

.card-footer *{
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}

.section-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

th{
  cursor: pointer;
}
th.sorting_desc:after,
th.sorting_asc:after {
  font-family: 'Material Symbols Rounded';
  color: #427CD8;
  padding: 0px 5px;
}
th.sorting_asc:after {
  content: "\e5d8";
}
th.sorting_desc:after {
  content: "\e5db";
}